<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In class exercise 1</title>
</head>
<body>

  {{> header}}
  
  {{!-- SECTION: Main content area --}}
  {{!-- {{{body}}} is triple-braced to allow HTML from child templates --}}
  <main>
    {{{body}}}
  </main>

  {{> footer}}

</body>
</html>